<form class="custom-form" method="post">

  <div class="sign-up">
 
    <div class="comida">
       
      <img class="comida" src="../assets/img/Eatable.svg" alt="">
      <img class="" src="../assets/img/Food for Everyone.png" alt="">

    </div>
  

  
  
    <div class="button">
      <button>Login</button>
      <button>Sign-up</button>

    </div>
  
  
    <div class="registro">
  
      <input
            type="text"
            name="last_name"
            placeholder="Nombres"
          />
    
          <input
          type="text"
          name="last_name"
          placeholder="Apellido"
        />
    
          <input
            type="email"
            name="email"
            placeholder="Email"
          />
    
        <input
          type="tel"
          name="phone"
          placeholder="Telefono"
        />
    
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
          />
    
          <input
            type="password"
            name="password"
            placeholder="Repetir contraseña"
          />
  
    </div>
  
   
  
  </div>

  <div class="boton3">
    <button type="submit">SignUp</button>

  </div>

</form>

