<form class="custom-form" method="post">
 
  <div class="login">

    <div class="buttons">
        
        <button> LOGIN</button>
        <button> SignUp</button>
        
      </div>

      <input
        type="email"
        name="email"
        placeholder="Email"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
      />

      <div class="btn-ingreso"> <button class="btn-register" type="submit">Login</button> </div>

  </div>

  
</form>


